{% extends "layout.html" %}
   
{% block title %}
    {% if apology %}
        Not Found
    {% else %}  
        {{ titledata['Title'] }}
    {% endif %}    
{% endblock %}

{% block body %}
    {% if apology %}
        {{ apology }}
    {% else %}    
        <div class="jumbotron">
            <h1>{{ titledata['Title'] }}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <figure class="figure rounded float-end">
                        <img class="titlepage" src="{{ titledata['Poster'] }}"" />
                        <div class="text-start">
                            {% if entry %}
                            <div class="alert alert-primary" role="alert">
                                <h5 class="d-inline">Status:</h5>
                                <p class="d-inline" style="font-size: large;">{{ entry.status.status_name }}</p>
                                {% if entry.score != None %}
                                    <div class="d-block">
                                        <h5 class="d-inline">Score:</h5>
                                        <p class="d-inline" style="font-size: large;">{{ entry.score }}/10</p>
                                    </div>    
                                {% endif %}

                                <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Edit entry
                                    </button>
                                    <div class="dropdown-menu px-4 py-3">
                                        <form action="" method="post" autocomplete="off" novalidate>
                                            {{ form.hidden_tag() }} 
                                            <div class="mb-3">
                                                <label for="status" class="form-label fw-bold">{{ form.status.label }}</label>
                                                <p>{{ form.status(class_ = "form-select") }}</p>
                                                {% for error in form.status.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>    
                                                {% endfor %}
                                            </div>
                                            <div class="mb-3">
                                                <label for="status" class="form-label fw-bold">{{ form.score.label }}</label>
                                                <p>{{ form.score(class_ = "form-select") }}</p>
                                                {% for error in form.score.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>    
                                                {% endfor %}
                                            </div>  
                                            <input class="btn btn-outline-primary" id="submit" name ="submit" type="submit" value="Edit">
                                            <input class="btn btn-outline-primary d-inline" id="submit" name ="submit" type="submit" value="Delete"> 
                                        </form>
                                    </div>      
                                </div>  
                            {% else %}
                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add to my list
                                </button>
                                <div class="dropdown-menu px-4 py-3">
                                    <form action="" method="post" autocomplete="off" novalidate>
                                        {{ form.hidden_tag() }} 
                                        <div class="mb-3">
                                            <label for="status" class="form-label fw-bold">{{ form.status.label }}</label>
                                            <p>{{ form.status(class_ = "form-select") }}</p>
                                            {% for error in form.status.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>    
                                            {% endfor %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="status" class="form-label fw-bold">{{ form.score.label }}</label>
                                            <p>{{ form.score(class_ = "form-select") }}</p>
                                            {% for error in form.score.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>    
                                            {% endfor %}
                                        </div>  
                                        <input class="btn btn-outline-primary" id="submit" name ="submit" type="submit" value="Add">
                                    </form>
                                </div>      
                            </div>
                            {% endif %}
                        </div>
                    </figure>    
                </div>
                <div class="col text-start">
                    <p class="lead"><b><strong>Year</strong></b>: {{ titledata['Year'] }}</p>
                    <p class="lead"><b><strong>Type</strong></b>: {{ titledata['Type'] }}</p>
                    <p class="lead"><b><strong>Rated</strong></b>: {{ titledata['Rated'] }}</p>
                    <p class="lead"><b><strong>Released</strong></b>: {{ titledata['Released'] }}</p>
                    <p class="lead"><b><strong>Runtime</strong></b>: {{ titledata['Runtime'] }}</p>
                    <p class="lead"><b><strong>Genre</strong></b>: {{ titledata['Genre'] }}</p>
                    <p class="lead"><b><strong>Director</strong></b>: {{ titledata['Director'] }}</p>
                    <p class="lead"><b><strong>Actors</strong></b>: {{ titledata['Actors'] }}</p>
                    <p class="lead"><b><strong>Plot</strong></b>: {{ titledata['Plot'] }}</p>
                    <p class="lead"><b><strong>Language</strong></b>: {{ titledata['Language'] }}</p>
                    <p class="lead"><b><strong>Country</strong></b>: {{ titledata['Country'] }}</p>
                    <p class="lead"><b><strong>Awards</strong></b>: {{ titledata['Awards'] }}</p>
                    <p class="lead"><b><strong>IMDB</strong></b>: {{ titledata['Ratings'][0]['Value'] }}</p>
                </div>    
            </div>
        </div>
    {% endif %}    
{% endblock %} 